@import "./config";

html,
.about {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

.about-banner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 30rem;
  margin-bottom: 0;

  #{&}__title {
    position: absolute;
    top: 0;
    left: 0;
    color: $theme_white;
    font-size: 2.5rem;
    padding: 1rem 5rem 0 1rem;
    line-height: 1.1;
    @include flood_font;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
}
.about-banner-container {
  position: absolute;
  top: 15rem;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
}
.about-banner-content {
  width: 80%;
  height: 100%;
  background: $theme_white;
  color: $theme_dark;
  #{&}__header {
    @extend %section-title;
    top: -1.25rem;
    span {
      background: $theme_dark;
      color: $theme_white;
    }
  }
  #{&}__info {
    margin-top: 1.5rem;
    padding: 1.2rem;
    font-size: 1rem;
    line-height: 1.3;
    font-weight: bold;
    text-align: center;
  }
}

.mission {
  padding-top: 2rem;
  width: 100%;
  height: 62rem;
  background: $theme_dark;
  #{&}__title {
    @extend %section-title;
    margin-bottom: 3.5rem;
    span {
      color: $theme_dark;
      background: $theme_white;
    }
  }

  #{&}__intro {
    color: $theme_white;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 2.5rem;
    line-height: 1.3;
  }

  #{&}-grid {
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    &_item {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      h5 {
        margin: 0.5rem 0;
        font-size: 0.9rem;
      }
      p {
        font-size: 0.9rem;
        line-height: 1.2;
      }
    }
  }
}
.team {
  width: 100%;
  padding-top: 2rem;
  #{&}__title {
    @extend %section-title;
    margin-bottom: 4rem;
    span {
      color: $theme_white;
      background: $theme_dark;
    }
  }
  #{&}__info {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: $theme_dark;
    margin-bottom: 2rem;
  }
  #{&}__info_p {
    width: 100%;
    padding: 0 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.2;
    color: $theme_dark;
    text-align: center;
  }
  #{&}-grid {
    width: 95%;
    margin: 1rem auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    &__item {
      position: relative;
      height: 13rem;
      img {
        position: absolute;
        top: 0;
        width: 100%;
        object-fit: cover;
      }
      span {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        background: $theme_dark;
        color: $theme_white;
        padding: 1rem;
      }
    }
  }
}
.impact {
  width: 100%;
  padding-top: 2rem;
  position: relative;
  height: 45rem;
  color: $theme_white;
  background: rgba(53, 68, 99, 0.7);
  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  #{&}__title {
    @extend %section-title;
    margin-bottom: 3.5rem;
    span {
      color: $theme_dark;
      background: $theme_white;
    }
  }
  #{&}__info {
    width: 100%;
    padding: 0 0.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  #{&}-grid {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    &__item {
      width: 100%;
      margin: 1.5rem 0;
      text-align: center;
      span {
        font-size: 3rem;
        @include flood_font;
      }
    }
  }
}

.history {
  position: relative;
  padding-top: 3rem;
  width: 100%;
  height: 40rem;
  background: $theme_dark;

  #{&}__header {
    width: 100%;
    padding: 0 1.5rem;
    font-size: 1.8rem;
    line-height: 1.3;
    margin-bottom: 2.5rem;
    @include flood_font;
    text-align: center;
    color: $theme_white;
  }
  .about-slider {
    width: 100%;
    height: 28rem;
    margin: 0 auto;
    overflow-x: hidden;
    .next-btn {
      position: absolute;
      right: 1.5rem;
      top: 50%;
      z-index: 1;
      .fas {
        background: $theme_dark;
        color: $theme_light;
        transform: scale(3);
        border-radius: 50%;
      }
    }
    .prev-btn {
      position: absolute;
      left: 1.5rem;
      top: 50%;
      z-index: 1;
      .fas {
        background: $theme_dark;
        color: $theme_light;
        border-radius: 50%;
        transform: scale(3);
      }
    }
    .about-slides {
      width: 500vw;
      display: flex;
      background: transparent;
      transition: 1s;
      input {
        display: none;
      }
      .about-slide {
        padding: 1%;
        position: relative;
        width: 20%;
        transition: 1s;
        height: 27.5rem;
        .header {
          z-index: 1;
          @extend %section-title;
          span {
            top: -1rem;
            color: $theme_dark;
            background: $theme_white;
          }
        }
        .content {
          z-index: 0;
          width: 90%;
          height: 80vh;
          margin: 0 auto;
          position: relative;
          img {
            position: absolute;
            top: 0;
            width: 100%;
            object-fit: cover;
          }
          .info {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60%;
            color: $theme_dark;
            background: $theme_white;
            .title {
              width: 100%;
              text-align: center;
              padding: 0 1rem;
              margin-top: 1rem;
            }
            .text {
              width: 100%;
              padding: 0 0.5rem;
              text-align: center;
              line-height: 1.2;
              margin-top: 1rem;
            }
            .button {
              margin-top: 0.5rem;
              width: 100%;
              display: flex;
              justify-content: center;
              span {
                padding: 0.8rem;
                background: $theme_light;
                color: $theme_dark;
                font-weight: bold;
                border-radius: 2rem;
                &:hover {
                  transition: 1s;
                  background: $theme_dark;
                  color: $theme_light;
                }
              }
            }
          }
        }
      }
    }
  }
}
