@import url("https://use.typekit.net/rut6oae.css");
$theme_dark: #354463;
$theme_light: #c1f7d5;
$theme_white: #fff;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@mixin flood_font {
  font-family: flood-std, sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin read_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  &__text {
    background: $theme_light;
    color: $theme_dark;
    font-weight: bold;
    border-radius: 2rem;
    text-align: center;
    padding: 1rem;
  }
}
@mixin div-title {
  position: absolute;
  top: -1rem;
  left: 21%;
  width: 50%;
  text-align: center;
  height: 2.25rem;
  background: $theme_dark;
  color: $theme_white;
  padding: 0.6rem 0;
  font-weight: normal;
  font-size: 1rem;
  text-transform: uppercase;
}

// @mixin section-title($color, $bg) {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   span {
//     color: $color;
//     background: $bg;
//     text-transform: uppercase;
//     font-weight: normal;
//     width: 56%;
//     text-align: center;
//     padding: 0.6rem;
//     margin: 0 27vw 0.5rem 27vw;
//   }
// }
%section-title {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  span {
    position: absolute;
    text-transform: uppercase;
    font-weight: normal;
    width: 50%;
    text-align: center;
    padding: 0.62rem;
  }
}

%banner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 30rem;
  margin-bottom: 0;
  #{&}__title {
    position: absolute;
    top: 0;
    left: 0;
    @include flood_font;
    color: $theme_white;
    font-size: 2.5rem;
    padding: 1rem 5rem 0 1rem;
    line-height: 1.1;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
}

%banner-container {
  position: absolute;
  top: 15rem;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
}

%banner-content {
  width: 80%;
  height: 100%;
  background: $theme_white;
  color: $theme_dark;
  #{&}__header {
    @extend %section-title;
    top: -1.25rem;
    span {
      background: $theme_dark;
      color: $theme_white;
    }
  }
  #{&}__info {
    margin-top: 1.5rem;
    padding: 1.2rem;
    font-size: 1rem;
    line-height: 1.3;
    font-weight: bold;
    text-align: center;
  }
}
