@import url("https://use.typekit.net/rut6oae.css");
$theme_dark: #354463;
$theme_light: #c1f7d5;
$theme_white: #fff;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@mixin flood_font {
  font-family: flood-std, sans-serif;
  font-weight: 400;
  font-style: normal;
}

%section-title {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  span {
    position: absolute;
    text-transform: uppercase;
    font-weight: normal;
    width: 50%;
    text-align: center;
    padding: 0.62rem;
  }
}

$mobile-m: 360px;
$mobile-l: 412px;
$mobile-xl: 640px;
$tablet: 768px;
$desktop__sm: 1024px;
$laptop__m: 1280px;
$desktop__l: 1536px;

@mixin media-mobile-m {
  @media screen and (min-width: $mobile-m) {
    @content;
  }
}
@mixin media-mobile-l {
  @media screen and (min-width: $mobile-l) {
    @content;
  }
}
@mixin media-mobile-xl {
  @media screen and (min-width: $mobile-xl) {
    @content;
  }
}
@mixin media-tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}
@mixin media-desktop__sm {
  @media screen and (min-width: $desktop__sm) {
    @content;
  }
}
@mixin media-desktop__m {
  @media screen and (min-width: $desktop__m) {
    @content;
  }
}

@mixin media-desktop__l {
  @media screen and (min-width: $desktop__l) {
    @content;
  }
}
