@import "./config";

.home {
  max-width: 100vw;
  height: 100%;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 0;
  }
  #{&}__title {
    @include flood_font;
    color: $theme_white;
    font-size: 2.5rem;
    padding: 2rem 2rem 0 1rem;
    line-height: 1.25;
    z-index: 5;
  }
  #{&}__info {
    position: relative;
    width: 80%;
    flex-basis: 40%;
    margin-top: 7rem;
    background: $theme_white;
    height: 100vh;
    z-index: 5;
    h5 {
      @include div-title;
      margin: 0 3.5vw;
    }
    p {
      font-weight: bolder;
      margin: 3rem auto;
      font-size: 1.3rem;
      padding: 0.5rem;
      text-align: center;
    }
    a {
      position: relative;
      margin: 0 1.6rem;
    }
  }
}

.action-module {
  max-width: 100vw;
  position: relative;
  background: $theme_light;
  border: 1px solid transparent;
  padding-bottom: 1rem;
  #{&}__title {
    @include div-title;
    top: -1.25rem;
    margin: 0 5vw;
  }
  #{&}__grid {
    width: 90%;
    margin: 3.5rem auto 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.2rem;
    &__item {
      color: $theme_dark;
      line-height: 1.3;
      margin-bottom: 1rem;
      h3 {
        margin-bottom: 0.5rem;
      }
    }
  }
}

.do-module {
  border: 1px solid transparent;
  padding-top: 2rem;
  width: 100%;
  background: $theme_dark;
  height: 325vh;
  h3 {
    @include section-title($theme_dark, $theme_white);
  }
  > p {
    color: $theme_white;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0 auto 5rem auto;
    padding: 1rem;
  }
  #{&}__div {
    background: $theme_white;
    width: 90%;
    height: 27rem;
    margin: 1rem auto 7rem auto;
    &__img {
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        position: relative;
        top: -2.5rem;
        width: 15rem;
        height: 10rem;
        object-fit: cover;
        margin: 0 8%;
      }
    }

    &__info {
      h4 {
        margin: 0 auto 1.5rem auto;
        text-align: center;
        font-size: 1.1rem;
      }
      p {
        margin: 0 auto;
        padding: 0 1.5rem;
        text-align: center;
        line-height: 1.3;
      }
    }
    &__button {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      &__text {
        font-size: 1.2rem;
        width: 50%;
        background: $theme_light;
        color: $theme_dark;
        font-weight: bold;
        border-radius: 2rem;
        text-align: center;
        padding: 1rem;
      }
    }
  }
}
.know-module {
  position: relative;
  width: 100%;
  height: 205vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  #{&}__content {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__header {
      flex-basis: 30%;
      padding-right: 2.5rem;
      margin: 1.5rem;
      h2 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
        line-height: 1.2;
        color: $theme_white;
        @include flood_font;
      }
      span {
        padding: 0.5rem;
        background: $theme_light;
        color: $theme_dark;
        border-radius: 1rem;
        font-weight: bold;
      }
    }
    &__facts {
      position: relative;
      margin-top: 10rem;
      &__title {
        position: absolute;
        top: 0;
        width: 100%;
        margin: 0 auto;
        display: flex;
        z-index: 3;
        justify-content: center;
        span {
          text-transform: uppercase;
          padding: 0.5rem;
          background: $theme_dark;
          color: $theme_white;
        }
      }
      &__container {
        z-index: 2;
        width: 90%;
        margin: 1rem auto 0 auto;
        display: flex;
        flex-direction: column;
        &__item {
          padding: 1.5rem;
          display: flex;
          background: $theme_white;
          height: 10rem;
          margin-bottom: 1rem;

          .info {
            flex-basis: 80%;
            // border: 1px solid blue;
            h3 {
              color: $theme_dark;
              font-size: 1.5rem;
              margin-bottom: 1rem;
            }
            p {
              line-height: 1.3;
              font-size: 1.1rem;
            }
          }
          .socials {
            flex-grow: 1;
            // border: 1px solid red;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 0.5rem;
            align-items: flex-end;
            .fab {
              background: $theme_light;
              color: $theme_dark;
              border-radius: 50%;
              padding: 0.5rem;
              transform: scale(0.9);
            }
          }
        }
      }
    }
  }
}

.stories {
  width: 100%;
  height: 100vh;
  margin-top: 2rem;
  position: relative;
}
.slider {
  width: 90%;
  margin: 0 4.5vw;
  height: 100%;
  overflow-x: hidden;
}
.slides {
  width: 500vw;
  height: 90%;
  display: flex;
  background: $theme_white;
  input {
    display: none;
  }
}
.slide {
  position: relative;
  width: 20%;
  transition: 1s;
  height: 100%;
  #{&}__header {
    position: absolute;
    top: 0;
    width: 90%;
    display: flex;
    justify-content: center;
    z-index: 2;
    span {
      color: $theme_dark;
      background: $theme_light;
      padding: 0.5rem;
      text-transform: uppercase;
    }
  }
  #{&}__content {
    margin-top: 1rem;
    z-index: 1;
    width: 90%;
    height: 100%;
    &__img {
      width: 100%;
      height: 40%;
      margin-bottom: 1rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__info {
      position: relative;
      width: 100%;
      height: 40%;
      background: $theme_dark;
      color: $theme_white;
      font-size: 1.25rem;
      padding: 1rem 0.5rem 0.5rem 0.5rem;
      text-align: center;
      font-weight: bold;
      span {
        position: absolute;
        width: 100%;
        font-size: 0.9rem;
        font-weight: normal;
        bottom: 1rem;
        text-align: center;
        left: 0;
      }
    }
    &__button {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      &__text {
        background: $theme_light;
        color: $theme_dark;
        font-weight: bold;
        border-radius: 2rem;
        text-align: center;
        padding: 1rem;
      }
    }
  }
}

.navigation-manual {
  position: absolute;
  width: 90%;
  bottom: 1.5rem;
  display: flex;
  justify-content: center;
  .manual-btn {
    border: 2px solid $theme_dark;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
  }
  .manual-btn:not(:last-child) {
    margin-right: 40px;
  }

  .manual-btn:hover {
    background: $theme_dark;
  }
}
#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -100vw;
}

#radio3:checked ~ .first {
  margin-left: -200vw;
}

#radio4:checked ~ .first {
  margin-left: -300vw;
}

#radio5:checked ~ .first {
  margin-left: -400vw;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 90%;
  justify-content: center;
  bottom: 1.5rem;
}

.navigation-auto div {
  border: 2px solid $theme_dark;
  padding: 5px;
  border-radius: 50%;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: $theme_dark;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: $theme_dark;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: $theme_dark;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: $theme_dark;
}
#radio5:checked ~ .navigation-auto .auto-btn5 {
  background: $theme_dark;
}

.events {
  width: 100%;
  height: 290vh;
  background: $theme_dark;
  #{&}__title {
    padding: 2.5rem 2.5rem;
    text-transform: uppercase;
    margin: 2rem auto;
    color: $theme_white;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
  }
  #{&}__flex {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 7rem;
    &__img {
      position: relative;
      margin: 1.5rem;
      h4 {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: -1rem;
        span {
          padding: 0.75rem;
          text-transform: uppercase;
          background: $theme_white;
          font-weight: normal;
          width: 50%;
          text-align: center;
        }
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &__info {
      h3 {
        font-weight: bold;
        width: 100%;
        padding: 0 2.5rem;
        text-align: center;
        color: $theme_white;
      }
      p {
        color: $theme_white;
        margin: 1.5rem auto;
        padding: 0 3rem;
        width: 100%;
        text-align: center;
        line-height: 1.5;
        font-size: 0.9rem;
      }
      &__button {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        &__text {
          font-size: 1.2rem;
          width: 50%;
          background: $theme_light;
          color: $theme_dark;
          font-weight: bold;
          border-radius: 2rem;
          text-align: center;
          padding: 1rem;
        }
      }
    }
  }
}

.subscribe {
  width: 100%;
  height: 10rem;
  background: $theme_light;
  #{&}__text {
    width: 100%;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
  }
  #{&}__action {
    width: 100%;
    display: flex;
    input {
      height: 2.5rem;
      padding: 1rem;
      border-radius: 1rem;
      margin: 0 0.5rem;
      border: none;
      background: $theme_white;
      font-weight: 1.2rem;
      &:focus {
        border: none;
        outline: none;
      }
    }
    &__button {
      color: $theme_light;
      height: 2.5rem;
      padding: 0.7rem 1rem;
      border-radius: 1rem;
      margin: 0 0.5rem;
      background: $theme_dark;
      font-weight: bold;
      flex-grow: 1;
      text-align: centers;
    }
  }
}
footer {
  width: 96%;
  height: 95vh;
  padding: 1.5rem 1rem;
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  h3 {
    padding-right: 2rem;
    color: $theme_dark;
  }
  .footer-list {
    color: $theme_dark;
    text-transform: uppercase;
    list-style-type: none;

    li {
      font-size: 0.9rem;
      text-transform: none;
      color: $theme_dark;
      margin-top: 0.5rem;
    }
    a {
      text-decoration: underline;
      color: $theme_dark;
      line-height: 1.5;
    }
  }
  h1 {
    color: $theme_dark;
    font-size: 2rem;
    text-transform: uppercase;
    grid-column-start: 2;
    // margin-left: -1.5rem;
    @include flood_font;
    span {
      padding-left: 1.5rem;
    }
  }
}
