@import "./config";

.nav {
  width: 90%;
  margin: 0 auto 1rem auto;
  height: 12.5rem;
  padding: 2rem 0.5rem 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $theme_white;
  color: $theme_dark;
  #{&}__upper {
    flex-basis: 75%;
    width: 100%;
    display: flex;

    &__logo {
      flex-basis: 50%;
      font-weight: bolder;
      line-height: 1.2;
      padding-right: 0.5rem;
      a {
        color: $theme_dark;
        cursor: pointer;
      }
    }
    &__items {
      flex-grow: 1;
      font-size: 0.85rem;
      list-style: none;
      display: flex;

      margin-left: 1rem;
      flex-direction: column;
      align-items: flex-start;
      &__link {
        margin-bottom: 1rem;
        a {
          color: $theme_dark;
          cursor: pointer;
        }
      }
    }
  }
  #{&}__button {
    background: $theme_light;
    border-radius: 5rem;
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-weight: bolder;
    font-size: 1.2rem;
    margin-top: 1rem;
    a {
      color: $theme_dark;
      cursor: pointer;
    }
    &:hover {
      transition: 1s;
      background: $theme_dark;
      color: $theme_light;
      a {
        color: $theme_light;
      }
    }
  }
}
