@import "./menu", "./config", "./home", "./about", "./stories";

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  background: $theme_white;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}
